In [105]:
import os
import sys
while not os.getcwd().endswith('ml'):
    os.chdir('..')
sys.path.insert(0, os.getcwd())

In [118]:
import pandas as pd
import numpy as np
import copy

from  sklearn.ensemble import RandomForestRegressor

In [107]:
key = pd.read_csv("kaggle/walmart-recruiting-sales-in-stormy-weather/key.csv")
train = pd.read_csv("kaggle/walmart-recruiting-sales-in-stormy-weather/train.csv")
test = pd.read_csv("kaggle/walmart-recruiting-sales-in-stormy-weather/test.csv")
weather = pd.read_csv("kaggle/walmart-recruiting-sales-in-stormy-weather/weather.csv")

In [108]:
key.sample()

    store_nbr  station_nbr
15         16            2

In [109]:
train.sample()

               date  store_nbr  item_nbr  units
3793808  2014-04-07         44        51      0

In [110]:
weather.sample()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
15881,5,2014-03-14,M,M,M,M,9,M,M,M,0559,1749,,M,M,M,30.06,13.6,22,M

In [111]:
weather.wetbulb.value_counts()

M      1252
74      777
75      684
73      663
72      609
71      526
70      481
67      474
65      459
64      437
62      433
68      428
66      425
63      423
60      419
61      409
59      408
58      406
69      399
56      383
76      362
55      356
57      344
52      337
54      330
53      325
44      323
45      307
50      305
51      304
       ...
17       54
15       53
16       48
12       43
10       40
13       38
11       33
8        31
79       21
4        20
7        16
0        14
9        14
5        13
3        11
6         9
-3        7
2         7
1         5
-4        4
-2        3
-5        3
-7        2
-6        2
-10       2
-15       1
-8        1
-1        1
80        1
-9        1
Name: wetbulb, Length: 93, dtype: int64

In [112]:
train = train.join(key.set_index("store_nbr"), on="store_nbr")
train = train.join(weather.set_index(["station_nbr", "date"]), on=["station_nbr", "date"])
train.drop(columns=["codesum", "sunrise", "sunset"])

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,2012-01-01,1,1,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
1,2012-01-01,1,2,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
2,2012-01-01,1,3,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
3,2012-01-01,1,4,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
4,2012-01-01,1,5,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
5,2012-01-01,1,6,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
6,2012-01-01,1,7,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
7,2012-01-01,1,8,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
8,2012-01-01,1,9,29,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
9,2012-01-01,1,10,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
10,2012-01-01,1,11,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
11,2012-01-01,1,12,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
12,2012-01-01,1,13,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
13,2012-01-01,1,14,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
14,2012-01-01,1,15,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
15,2012-01-01,1,16,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
16,2012-01-01,1,17,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
17,2012-01-01,1,18,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
18,2012-01-01,1,19,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
19,2012-01-01,1,20,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
20,2012-01-01,1,21,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
21,2012-01-01,1,22,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
22,2012-01-01,1,23,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
23,2012-01-01,1,24,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
24,2012-01-01,1,25,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
25,2012-01-01,1,26,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
26,2012-01-01,1,27,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
27,2012-01-01,1,28,2,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
28,2012-01-01,1,29,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
29,2012-01-01,1,30,0,1,52,31,42,M,36,40,23,0,M,0.05,29.78,29.92,3.6,20,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617570,2014-10-31,45,82,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617571,2014-10-31,45,83,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617572,2014-10-31,45,84,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617573,2014-10-31,45,85,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617574,2014-10-31,45,86,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617575,2014-10-31,45,87,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617576,2014-10-31,45,88,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617577,2014-10-31,45,89,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617578,2014-10-31,45,90,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617579,2014-10-31,45,91,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617580,2014-10-31,45,92,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617581,2014-10-31,45,93,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617582,2014-10-31,45,94,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617583,2014-10-31,45,95,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617584,2014-10-31,45,96,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617585,2014-10-31,45,97,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617586,2014-10-31,45,98,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617587,2014-10-31,45,99,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617588,2014-10-31,45,100,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617589,2014-10-31,45,101,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617590,2014-10-31,45,102,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617591,2014-10-31,45,103,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617592,2014-10-31,45,104,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617593,2014-10-31,45,105,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617594,2014-10-31,45,106,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617595,2014-10-31,45,107,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617596,2014-10-31,45,108,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617597,2014-10-31,45,109,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617598,2014-10-31,45,110,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3
4617599,2014-10-31,45,111,0,16,53,34,44,M,35,41,21,0,M,0.00,29.90,29.99,4.5,03,5.3

In [113]:
train.sample()

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
3980514,2014-05-20,3,55,0,7,91,69,80,M,60,...,-,-,,0.0,0.00,28.48,29.80,22.0,19,22.4

In [114]:
train.fillna(-1, inplace=True)

In [115]:
train = pd.get_dummies(train, columns=["store_nbr", "item_nbr"])

In [124]:
y = train['units']
X = train

In [125]:
model = RandomForestRegressor(criterion='mse')

In [127]:
y_sample = y[0:1000]
X_sample = X[0:1000]

In [128]:
model.fit(X_sample, y_sample)

/Users/skrrydg/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ValueError: could not convert string to float: '2012-01-01'